.about-wrap{
    text-align: center;
    justify-content: center;
}

.about-contents{

    h1{
        color: $base-background-color;
        font-size: 80px;
        font-weight: 10;
        margin-top: 100px;
    }

    i{
        font-size: 130px;
        color: #FDCAAB;
    }
}

.profile-picture img{
    width: 90%;
}

.about-content{
    margin-bottom: 300px;
}

.about-who{
    margin: 200px 0px;
}

.about-text{
    margin: 50px;
}

.hobby-pictures{
    margin: 100px;
}

.hobby-content{
    margin: 200px 0px;
}

.travel-pictures{
    display: flex;
    flex-wrap: wrap;
}

.travel-picture{
    width: 50%;
}

.saxophone-picture img{
    width: 90%;
}

.skill-contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 200px;
}

.skill-content{
    margin: 80px;

    h2{
        font-weight: 10;
    }
}

@media (max-width: 1024px){

    .about-contents{

        h1{
            font-size: 70px;
        }

        i{
            font-size: 100px;
        }
    }

    .about-content {
        margin-bottom: 200px;
    }

    .about-title{
        margin: 150px 100px
    }

    .about-who {
        margin: 100px 0px;
    }

    .about-text{
        margin: 18px;
        font-size: 20px;
    }

    .hobby-content{
        margin-top: 100px;
    }

    .skill-contents{
        margin: 125px;
    }

    .skill-content{
        margin: 55px;
    }
}

@media (max-width: 600px){

    .about-contents h1 {
        font-size: 35px;
    }

    .about-title {
        margin: 0px;
    }

    .hobby-pictures {
        margin: 42px;
    }

    .skill-contents{
        margin: 38px;
    }

    .skill-content {
        margin: 29px;
    }

}
