* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;;
    color: $base-color;
}

li {
    list-style: none;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}