.footer-container {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    color:#FCF8E8;
    background-color: $base-background-color;
    text-align: center;
}

h5 {
    padding-top: 150px;
}

.pages {
    margin: 20px;
}

@media (max-width: 1024px) {

    footer {
        margin-top: 20px;
        height: 100px;
    }

    h5 {
        padding-top: 40px;
        font-size: 10px;
    }

}

@media (max-width: 600px) {

    .pagenation li {
        font-size: 15px;
    }
}