.header-container{
    padding: 25px;
    background-color: $base-background-color;
}

.site-title h1{
    color: #FCF8E8;
    font-weight: 10;

    a{
        color: #FCF8E8;
    }

    a:hover{
        color: #FDCAAB;
    }
}

.menu-container{
    color: #FDCAAB;
    margin: 10px;
}

.menu{

    ul {
        display: flex;
        justify-content: center;

        li a{
            font-size: 22px;
            color: #FDCAAB;
            margin: 10px;
        }

        li a:hover{
            color: #FCF8E8;
        }

        .current_page_item a{
            color: #FCF8E8;
        }
    }

}

.navbar-light .navbar-toggler{
    display: none;
}

.sns i{
    font-size: 30px;
    padding: 10px;
    color: $base-color;

}

.sns-links{

    i:hover{
        color: #FCF8E8;
    }
}



@media (max-width: 1024px){

    .header-container{
        height: 70px;
        padding: 15px 0px;
    }

    .site-title{
        margin: 10px;
    }

    .site-title h1{
        font-size: 30px;
    }

    div .menu > ul{
        font-size: 12px;
    }

      .sns{
          margin: 10px;
    }

    .sns i{
        font-size: 15px;
    }
}

@media (max-width: 600px){

    /* ハンバーガーアイコン入れたい */

    .header-container{
        height: 40px;
        padding: 7px 0px;
    }

    .site-title h1{
        font-size: 15px;
        margin: 6px;
    }

    .menu-container{
        display: none;
    }

    .sns {

        margin: 5px;

        i{
            padding: 5px;
        }
    }

    .sns-link{
        font-size: 15px;
    }

}