.single-blog-title{
    padding: 0px 50px;
}

.middle-container {
    justify-content: center;
}

.single-blog-contents{
    background-color: none;
    border-bottom: none;
}

@media (max-width: 1024px){

    .content-texts p {
        font-size: 19px;
    }

}

@media (max-width: 600px) {

    .content-texts p {
        font-size: 17px;
    }

    .single-blog-title h1{
        font-size: 25px;
        margin: 30px;
    }
}