.middle-container {
    justify-content: center;
    margin: 0px;
}

@media (max-width: 1024px){

    .content-texts p {
        font-size: 19px;
    }

}

@media (max-width: 600px) {

    .content-texts p {
        font-size: 17px;
    }
}