.works-title {

    h1{

        font-size: 80px;
        color: #DF7861;
        margin: 100px;
        text-align: center;

    }
}

.works-picture{
    text-align: center;
    margin: 200px;
}

.works-skills{
    text-align: center;
    margin: 50px;
}