.works-title {

    h1{

        font-size: 80px;
        font-weight: 10;
        color: #DF7861;
        margin: 100px;
        text-align: center;

    }
}

.works-picture{
    text-align: center;
    margin: 100px 200px;
}

.works-skills{
    text-align: center;
    margin: 0px 50px 200px;
}

@media (max-width: 1024px){
    .works-title {

        h1{

            font-size: 70px;
            margin: 85px;

        }
    }

    .works-picture{
        margin: 80px;
    }

    .works-skills{
        margin: 50px;
        font-size: 15px;
}

@media (max-width: 600px){
    .works-title {

        h1{
            font-size: 25px;
            margin: 50px;
        }
    }

    .works-picture{
        margin: 50px;
    }

    .works-skills{
        margin: 50px;

        h2{
            font-size: 15px;
        }
    }
}}